Termux_Server/.wwebjs_auth/
firebase_key.json
Termux_Server/.env
Termux_Server/node_modules/

build/
dist/
*.spec
*.pyc
__pycache__/

AGX Bot/Modelo 8000/*.AGX
AGX Bot/Modelo 8000/*.agx
AGX Bot/Modelo 8200/*.AGX
AGX Bot/Modelo 8200/*.agx
